<div class="modal">
  <div class="pc on">
    <div class="swiper-container">
      <div class="swiper-wrapper"></div>
    </div>
  </div>
  <div class="mob">
    <div class="swiper-container">
      <div class="swiper-wrapper"></div>
    </div>
  </div>
</div>
<div class="detail_area">
  <div class="change_btn" id="changeBtn" data-current-type="pc">
    <img class="phone_ico" src="/assets/imgs/icons/phone.svg" alt="" />
    <img class="pc_ico" src="/assets/imgs/icons/pc.svg" alt="" />
  </div>
  <div class="detail">
    <div class="name"></div>
    <div class="stack_area">
      <div class="title">STACKS</div>
      <div class="stacks">
        <div class="stack"></div>
        <div class="stack"></div>
        <div class="stack"></div>
        <div class="stack"></div>
      </div>
    </div>
    <div class="description">
      <div class="title">DESCRIPTION</div>
      <div class="notes">
        <div class="note"><span></span></div>
        <div class="note"><span></span></div>
        <div class="note"><span></span></div>
      </div>
    </div>
    <div class="site_area">
      <div class="title">SITE</div>
      <div><a href="javascript:void();" target="_blank">스키니피그</a></div>
    </div>
  </div>
  <div class="pc swiper-pagination"></div>
  <div class="pc swiper-button-prev swiper-button"></div>
  <div class="pc swiper-button-next swiper-button"></div>
  <div class="mob swiper-pagination"></div>
  <div class="mob swiper-button-prev swiper-button"></div>
  <div class="mob swiper-button-next swiper-button"></div>
</div>

<script>
  class Modal {
    constructor() {
      this.init();
    }

    getModalAreaElm = () => {
      return document.querySelector(".modal_area");
    };
    getChangeBtnElm = () => {
      return document.getElementById("changeBtn");
    };

    modalClose = (elm) => {
      if (elm.id === "importedModal") {
        this.getModalAreaElm().classList.remove("on");
        const swiperWrapElms = document.querySelectorAll(".modal_area .swiper-wrapper");
        swiperWrapElms.forEach((swiperWrapElm) => {
          swiperWrapElm.innerHTML = "";
        });
      }
    };
    modalCloseHandler = () => {
      this.getModalAreaElm().addEventListener("click", (e) => {
        this.modalClose(e.target);
      });
    };

    changeViewType = () => {
      const changeBtnElm = this.getChangeBtnElm();
      const modalAreaElm = document.querySelector(".modal_area");

      changeBtnElm.classList.add("active");
      setTimeout(() => {
        changeBtnElm.classList.remove("active");
      }, 1000);

      const currentType = changeBtnElm.dataset.currentType;
      const pcModalElm = document.querySelector(".modal_area .pc");
      const mobModalElm = document.querySelector(".modal_area .mob");

      switch (currentType) {
        case "pc":
          this.getChangeBtnElm().dataset.currentType = "mob";
          modalAreaElm.classList.remove("pc");
          modalAreaElm.classList.add("mob");
          pcModalElm.classList.remove("on");
          mobModalElm.classList.add("on");
          break;
        case "mob":
          modalAreaElm.classList.remove("mob");
          modalAreaElm.classList.add("pc");
          this.getChangeBtnElm().dataset.currentType = "pc";
          mobModalElm.classList.remove("on");
          pcModalElm.classList.add("on");
          break;
      }
    };

    chageTypeBtnHandler = () => {
      const changeBtnElm = this.getChangeBtnElm();
      changeBtnElm.addEventListener("click", this.changeViewType);
    };

    initHandler = () => {
      this.modalCloseHandler();
      this.chageTypeBtnHandler();
    };

    init = () => {
      this.initHandler();
    };
  }

  const modal = new Modal();
</script>
