<!-- line 1 -->
<div class="portfolio" id="portfolio">
  <div class="item" data-item="skinnypig">
    <div class="img-box">
      <img src="/assets/imgs/skinnypig/skn_main.png" alt="스키니피그 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">스키니피그 홈페이지 전체 리뉴얼</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="olola">
    <div class="img-box">
      <img src="/assets/imgs/olola/olola_main.png" alt="오로라렌즈 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">오로라렌즈 메인페이지 + 스토어픽업</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="dragon">
    <div class="img-box">
      <img src="/assets/imgs/dragon/dragon_main.png" alt="용훈샵 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">용훈샵 홈페이지 제작</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="smart">
    <div class="img-box">
      <img src="/assets/imgs/smart/smart_main.png" alt="스마트마켓 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">스마트마케팅 홈페이지 제작</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="neoteria">
    <div class="img-box">
      <img src="/assets/imgs/neoteria/neoteria_main.png" alt="네오테리아 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">네오테리아 홈페이지 제작</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="vividgolf">
    <div class="img-box">
      <img src="/assets/imgs/vividgolf/vivid_main.png" alt="비비드골프 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">비비드골프 멤버십 + 대여캘린더</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
</div>