<div class="portfolio" id="portfolioBE">
  <div class="item" data-item-name="drlohas">
    <div class="img-box bg-black">
      <img src="/assets/imgs/drlohas/drlohas_main.png" alt="닥터로하스 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">닥터로하스 응모하기</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">AXIOS</div>
        <div class="stack">CALENDAR.JS</div>
        <div class="stack">CAFE24</div>
        <div class="stack backend">NODE.JS</div>
        <div class="stack backend">EXPRESS.JS</div>
        <div class="stack backend">MONGOOSE</div>
        <div class="stack backend">RADIS</div>
        <div class="stack backend">GAE</div>
        <div class="stack backend">CLOUD SCHEDULER</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item-name="daenggogh">
    <div class="img-box bg-black">
      <img src="/assets/imgs/olola/olola_main.png" alt="댕고흐 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">댕고흐 강아지 이미지 필터링 + 구글 드라이브 업로드</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">AXIOS</div>
        <div class="stack">DROPZONE.JS</div>
        <div class="stack">CAFE24</div>
        <div class="stack backend">NODE.JS</div>
        <div class="stack backend">EXPRESS.JS</div>
        <div class="stack backend">MONGOOSE</div>
        <div class="stack backend">DOCKER</div>
        <div class="stack backend">GCE</div>
        <div class="stack backend">GKE</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
</div>