<!-- line 1 -->
<div class="portfolio" id="portfolio">
  <div class="item" data-item="skinnypig">
    <div class="img-box">
      <img src="/assets/imgs/skinnypig/skn_main.png" alt="스키니피그 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">스키니피그 홈페이지 전체 리뉴얼</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="olola">
    <div class="img-box">
      <img src="/assets/imgs/olola/olola_main.png" alt="오로라렌즈 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">오로라렌즈 메인페이지 + 스토어픽업</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="dragon">
    <div class="img-box">
      <img src="/assets/imgs/dragon/dragon_main.png" alt="용훈샵 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">용훈샵 홈페이지 제작</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="smart">
    <div class="img-box">
      <img src="/assets/imgs/smart/smart_main.png" alt="스마트마켓 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">스마트마케팅 홈페이지 제작</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="neoteria">
    <div class="img-box">
      <img src="/assets/imgs/neoteria/neoteria_main.png" alt="네오테리아 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">네오테리아 홈페이지 제작</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-item="vividgolf">
    <div class="img-box">
      <img src="/assets/imgs/vividgolf/vivid_main.png" alt="비비드골프 메인 이미지" />
    </div>
    <div class="description">
      <div class="title">비비드골프 멤버십 + 대여캘린더</div>
      <div class="stack_area">
        <div class="stack">HTML</div>
        <div class="stack">CSS</div>
        <div class="stack">JAVASCRIPT</div>
        <div class="stack">CAFE24</div>
      </div>
      <div class="more_view">
        <div>More View...</div>
        <div class="img-box">
          <img src="/assets/imgs/moreview_arrow.png" alt="화살표" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let prevPcSwiper;
  let prevMobSwiper;

  const IMG_PATH = "/assets/imgs";
  const details = {
    skinnypig: {
      title: "스키니피그 홈페이지 전체 리뉴얼",
      stacks: ["HTML", "CSS", "JAVASCRIPT", "CAFE24"],
      description: [
        "홈페이지 전체 리뉴얼",
        "IOS 저전력 모드시 동영상 -> 이미지 전환",
        "사용자 이탈율 감소를 위한 홈페이지 최적화",
      ],
      pc: [
        `${IMG_PATH}/skinnypig/details/pc/skn_pc_main`,
        `${IMG_PATH}/skinnypig/details/pc/skn_pc_prd_list`,
        `${IMG_PATH}/skinnypig/details/pc/skn_pc_prd_detail`,
      ],
      mob: [
        `${IMG_PATH}/skinnypig/details/mob/skn_mob_main`,
        `${IMG_PATH}/skinnypig/details/mob/skn_mob_prd_list`,
        `${IMG_PATH}/skinnypig/details/mob/skn_mob_prd_detail`,
      ],
      site: {
        name: "스키니피그",
        url: "https://skinnypig.xyz/",
      },
    },
    olola: {
      title: "오로라렌즈 메인페이지 + 스토어픽업",
      stacks: ["HTML", "CSS", "JAVASCRIPT", "CAFE24"],
      description: ["주요 페이지 퍼블리싱 및 기능 구현", "스토어 픽업 기능 구현"],
      pc: [
        `${IMG_PATH}/olola/details/pc/olola_main`,
        `${IMG_PATH}/olola/details/pc/olola_prd_pickup`,
        `${IMG_PATH}/olola/details/pc/olola_store_pickup`,
      ],
      mob: [
        `${IMG_PATH}/olola/details/mob/olola_main`,
        `${IMG_PATH}/olola/details/mob/olola_prd_pickup`,
        `${IMG_PATH}/olola/details/mob/olola_store_pickup`,
      ],
      site: {
        name: "오로라렌즈",
        url: "https://o-lola.co.kr/",
      },
    },
    dragon: {
      title: "용훈샵 홈페이지 제작",
      stacks: ["HTML", "CSS", "JAVASCRIPT", "CAFE24"],
      description: ["홈페이지 전체 제작"],
      pc: [
        `${IMG_PATH}/dragon/details/pc/dragon_pc_main`,
        `${IMG_PATH}/dragon/details/pc/dragon_pc_prd_list`,
        `${IMG_PATH}/dragon/details/pc/dragon_pc_estimate`,
        `${IMG_PATH}/dragon/details/pc/dragon_pc_guide`,
      ],
      mob: [
        `${IMG_PATH}/dragon/details/mob/dragon_mob_main`,
        `${IMG_PATH}/dragon/details/mob/dragon_mob_prd_list`,
        `${IMG_PATH}/dragon/details/mob/dragon_mob_estimate`,
        `${IMG_PATH}/dragon/details/mob/dragon_mob_guide`,
      ],
      site: {
        name: "용훈샵",
        url: "https://dragon0808.cafe24.com/",
      },
    },
    smart: {
      title: "스마트마케팅 홈페이지 제작",
      stacks: ["HTML", "CSS", "JAVASCRIPT", "CAFE24"],
      description: ["홈페이지 전체 제작"],
      pc: [
        `${IMG_PATH}/smart/details/pc/smart_pc_main`,
        `${IMG_PATH}/smart/details/pc/smart_pc_prd_list`,
        `${IMG_PATH}/smart/details/pc/smart_pc_about_1`,
        `${IMG_PATH}/smart/details/pc/smart_pc_about_2`,
      ],
      mob: [
        `${IMG_PATH}/smart/details/mob/smart_mob_main`,
        `${IMG_PATH}/smart/details/mob/smart_mob_prd_list`,
        `${IMG_PATH}/smart/details/mob/smart_mob_about_1`,
        `${IMG_PATH}/smart/details/mob/smart_mob_about_2`,
      ],
      site: {
        name: "스마트마케팅",
        url: "https://smartmarketingco.cafe24.com/",
      },
    },
    neoteria: {
      title: "네오테리아 홈페이지 제작",
      stacks: ["HTML", "CSS", "JAVASCRIPT", "CAFE24"],
      description: ["홈페이지 전체 제작", "상품 정렬 구현", "홈페이지 최적화"],
      pc: [`${IMG_PATH}/neoteria/details/pc/neoteria_pc_main`, `${IMG_PATH}/neoteria/details/pc/neoteria_pc_prd_list`],
      mob: [
        `${IMG_PATH}/neoteria/details/mob/neoteria_mob_main`,
        `${IMG_PATH}/neoteria/details/mob/neoteria_mob_prd_list`,
      ],
      site: {
        name: "네오테리아",
        url: "https://neoteria.net/",
      },
    },
    vividgolf: {
      title: "비비드골프 멤버십 + 대여캘린더",
      stacks: ["HTML", "CSS", "JAVASCRIPT", "CAFE24"],
      description: ["멤버십 페이지 제작", "대여 캘린더 구현", "멤버십 기능 연동"],
      pc: [`${IMG_PATH}/vividgolf/details/pc/vivid_pc_membership`, `${IMG_PATH}/vividgolf/details/pc/vivid_pc_calendar`],
      mob: [
        `${IMG_PATH}/vividgolf/details/mob/vivid_mob_membership`,
        `${IMG_PATH}/vividgolf/details/mob/vivid_mob_calendar`,
      ],
      site: {
        name: "비비드골프",
        url: "https://vividgolf.co.kr/",
      },
    },
  };

  class PaintPage {
    constructor() {
      this.curItemName = ""
    }

    pushSwiperSlide(elm) {
      const pFDetail = details[elm.dataset.item];

      pFDetail.pc.forEach((pcImgSrc) => {
        const newSwiperSlideElm = this.createSwiperSlide(pcImgSrc, "pc");
        const pcModalSwipeWrapElm = document.querySelector(".modal_area .pc .swiper-wrapper");

        pcModalSwipeWrapElm.appendChild(newSwiperSlideElm);
      });
      pFDetail.mob.forEach((mobImgSrc) => {
        const newSwiperSlideElm = this.createSwiperSlide(mobImgSrc, "mob");
        const mobModalSwipeWrapElm = document.querySelector(".modal_area .mob .swiper-wrapper");

        mobModalSwipeWrapElm.appendChild(newSwiperSlideElm);
      });

      if (prevPcSwiper && prevMobSwiper) {
        prevPcSwiper.destroy();
        prevMobSwiper.destroy();
      }

      prevPcSwiper = this.createDetailSwiper("pc");
      prevMobSwiper = this.createDetailSwiper("mob");
      prevPcSwiper.update();
      prevMobSwiper.update();

      document.querySelectorAll(".modal_area .swiper-notification").forEach((notificationElm) => {
        notificationElm.remove();
      });
      this.onModal(elm);
    };

    paintPfDetail(elm) {
      document.body.style.overflow = "hidden"
      let stackStrElms = "";
      let noteStrElms = "";

      this.curItemName = elm.dataset.item;
      const pFDetail = details[this.curItemName];

      const modalPfNameElm = document.querySelector(".modal_area .detail .name");
      const modalPfStacksElm = document.querySelector(".modal_area .detail .stacks");
      const modalPfNoteElm = document.querySelector(".modal_area .detail .notes");
      const siteElm = document.querySelector(".modal_area .detail .site_area a");

      modalPfNameElm.innerText = pFDetail.title;
      pFDetail.stacks.forEach((stack) => {
        stackStrElms += `<div class="stack">${stack}</div>`;
      });
      pFDetail.description.forEach((descript) => {
        noteStrElms += `<div class="note"><span>${descript}</span></div>`;
      });

      modalPfStacksElm.innerHTML = stackStrElms;
      modalPfNoteElm.innerHTML = noteStrElms;

      siteElm.innerHTML = pFDetail.site.name;
      siteElm.href = pFDetail.site.url;
    };
  }

  class Pagination extends PaintPage {
    constructor() {
      super();
      this.prevPageBtnElm = document.getElementById("prevPageBtn")
      this.nextPageBtnElm = document.getElementById("nextPageBtn")
    }

    clearModalSwiperWrap() {
      document.querySelector(".modal_area .pc .swiper-wrapper").innerHTML = "";
      document.querySelector(".modal_area .mob .swiper-wrapper").innerHTML = "";
    };

    getCurItemIndex(key) {
      const keys = Object.keys(details);
      const currentIndex = keys.indexOf(key);
    }
    getPrevItemName(key) {
      const currentIndex = this.getCurItemIndex(key);

      if (currentIndex > 0) {
        const nextKey = keys[currentIndex - 1];
        return nextKey
      } else {
        return keys[keys.length - 1];
      }
    }

    getNextItemName(key) {
      const currentIndex = this.getCurItemIndex(key);

      if (currentIndex < keys.length - 1) {
        const nextKey = keys[currentIndex + 1];
        return nextKey
      } else {
        return keys[0];
      }
    }

    goTop() {
      document.querySelectorAll(".swiper-container").forEach(elm => {
        elm.scrollTo({
          left: 0,
          top: 0
        })
      })
    }

    onPrevPage() {
      this.clearModalSwiperWrap();
      const prevItemName = this.getPrevItemName(this.curItemName);

      const itemElm = document.querySelector(`#portfolio .item[data-item=${prevItemName}]`);
      this.paintPfDetail(itemElm);
      this.pushSwiperSlide(itemElm);
      this.goTop();
    }
    onNextPage() {
      this.clearModalSwiperWrap();
      const nextItemName = this.getNextItemName(this.curItemName);

      const itemElm = document.querySelector(`#portfolio .item[data-item=${nextItemName}]`);
      this.paintPfDetail(itemElm);
      this.pushSwiperSlide(itemElm);
      this.goTop();
    }

    handler() {
      this.prevPageBtnElm.addEventListener("click", this.onPrevPage.bind(this))
      this.nextPageBtnElm.addEventListener("click", this.onNextPage.bind(this))
    }

  }

  class Portfolio extends Pagination {
    constructor() {
      super();
    }

    createDetailSwiper(type) {
      const SPEED = 600;
      return new Swiper(`.image_area .${type} .swiper-container`, {
        slidesPerView: 1,

        //swiper js display:none 상태에서 작동하지 않을 때 display:none 요소에서 block이 될 때 슬라이드는 작동되지 않는다. 이때 아래 옵션값을 넣어 초기화 해준다.
        observer: true,
        observeParents: true,
        speed: SPEED,
        loop: true,
        pagination: {
          type: `fraction`,
          el: `.modal_area .${type}.swiper-pagination`,
          clickable: true,
        },
        navigation: {
          nextEl: `.modal_area .${type}.swiper-button-next`,
          prevEl: `.modal_area .${type}.swiper-button-prev`,
        },
        on: {
          slideChangeTransitionStart: function() {
            // 이미지 슬라이드 완료됐을 때 이미지들 height 를 현재 보여지고 있는 이미지 height 값에 맞춤
            const swiperCtElm = document.querySelector(`.image_area .${type} .swiper-container`);
            const activeSlideElm = document.querySelector(
              `.image_area .${type} .swiper-slide[data-swiper-slide-index='${this.realIndex}']`
            );
            const activeImgElm = document.querySelector(
              `.image_area .${type} .swiper-slide[data-swiper-slide-index='${this.realIndex}'] img`
            );

            const elseImgElms = document.querySelectorAll(
              `.image_area .${type} .swiper-slide:not([data-swiper-slide-index='${this.realIndex}']) img`
            );

            if (!activeImgElm) return;
            activeImgElm.style.height = "auto";


            swiperCtElm.scrollTo({
              top: 0,
              left: 0
            });
            elseImgElms.forEach((elseImgElm) => {
              setTimeout(() => {
                if (activeImgElm.clientHeight

                  <
                  activeSlideElm.clientHeight) {
                  activeSlideElm.classList.add("flex-center");
                } else {
                  activeSlideElm.classList.remove("flex-center");
                }
                elseImgElm.style.height = activeImgElm.clientHeight + "px";
              }, 200);
            });
          },
        },
      });
    };

    getItemElms() {
      return document.querySelectorAll(".item");
    };


    onModal(elm) {
      const activeItem = elm.dataset.item;
      if (activeItem === "olola") { // 오로라 렌즈는 PC , MOB 디자인이 같기 때문에 PC MODAL 에서도 모바일 스타일 적용
        document.querySelector(".modal_area .pc").classList.add("mob_st");
      } else {
        document.querySelector(".modal_area .pc").classList.remove("mob_st");
      }
      const modalAreaElm = document.querySelector(".modal_area");
      modalAreaElm.classList.add("on");
      modalAreaElm.classList.remove("mob");
      modalAreaElm.classList.add("pc");
      modalAreaElm.querySelector(".mob").classList.remove("on");
      modalAreaElm.querySelector(".pc").classList.add("on");
      document.getElementById("changeBtn").dataset.currentType = "pc";
    };

    createSwiperSlide(imgURI, type) {
      const modalSwipeWrapElm = document.querySelector(`.modal_area .${type} .swiper-wrapper`);
      const newSwiperSlideElm = document.createElement("div");
      newSwiperSlideElm.classList.add("swiper-slide");
      newSwiperSlideElm.classList.add("img-box");
      newSwiperSlideElm.innerHTML = `<picture>` +
        `
        <source srcset="${imgURI}.webp" type="image/webp" />` +
        `<img src="${imgURI}.png" />` +
        `
      </picture>`;

      return newSwiperSlideElm;
    }

    itemsHandler() {
      const items = this.getItemElms();

      items.forEach((item) => {
        item.addEventListener("click", () => {
          this.clearModalSwiperWrap();
          this.paintPfDetail(item);
          this.pushSwiperSlide(item);
        });

        item.addEventListener("mouseover", () => {
          this.getItemElms().forEach((itemElm) => {
            if (item === itemElm) {
              item.classList.remove("off");
              item.classList.add("on");
            } else {
              itemElm.classList.remove("on");
              itemElm.classList.add("off");
            }
          });
        });

        item.addEventListener("mouseleave", () => {
          this.getItemElms().forEach((itemElm) => {
            itemElm.classList.remove("off");
            itemElm.classList.remove("on");
          });
        });
      });
    }

    handler() {
      super.handler();
      this.itemsHandler();
    }

    init() {
      this.handler();
    }
  }



  function detectWebpSupport() {
    const image = new Image();
    // 1px x 1px WebP 이미지
    const webpdata = "data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=";
    const callback = (event) => {
      const result = event?.type === "load" && image.width === 1;
      if (result) {
        document.body.classList.add("webp");
      } else {
        document.body.classList.add("no-webp");
      }
    };

    image.onerror = callback;
    image.onload = callback;
    image.src = webpdata;
  }
  detectWebpSupport();

  window.addEventListener(("load"), () => {
    const portfolio = new Portfolio();
    portfolio.init()
  })
</script>